#header {
  color: black;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-emphasis: none;
  padding: 15px;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  background-color: rgb(238, 238, 238);
}

#main {
  height: 100%;
  width: 100%;
}

h6 {
  text-align: center;
}

#img-div {
  text-align: center;
}

p {
  text-align: center;
  color: black;
  font-weight: 500;
}

.offset {
  margin-top: 50px;
}

.offset-h6 {
  margin-bottom: 1rem;
  font-size: 24px;
}

.col-sm {
  background: rgb(238, 238, 238);
  font-size: 20px;
  font-weight: 700;
}

.tribute-info {
  text-align: center;
  margin: 30px;
}

.h3-style #h3-anchor {
  color: black;
  border: 3px solid dodgerblue;
  font-weight: 750;
  box-shadow: 5px 5px black;
}

.h3-style #h3-anchor:hover {
  color: dodgerblue;
  box-shadow: 5px 5px dodgerblue;
  border-color: dodgerblue;
  border-width: 7px;
}

.h3-style #h3-anchor2 {
  color: black;
  border: 3px solid #e16f00;
  font-weight: 750;
  box-shadow: 5px 5px black;
}

.h3-style #h3-anchor2:hover {
  color: #e16f00;
  box-shadow: 5px 5px #e16f00;
  border-color: #e16f00;
  border-width: 7px;
}

#main-2 {
  background-color: rgb(238, 238, 238);
  margin-top: 3rem;
}

#main-3 {
  background-color: rgb(238, 238, 238);
  margin-top: 3rem;
  margin-bottom: 3.2rem;
}

#main-3 .table1 tr:nth-child(odd) {
  background-color: rgb(165, 156, 156);
}

#main-3 .table1 {
  margin: auto;
}

#main-3 .table1 tr td {
  border: 2px solid black;
}
.h3-gandhi {
  text-align: center;
  font-size: 24px;
}

h3-style a {
  color: black;
}

#h3-anchor {
  font-size: 24px;
}

#h3-anchor2 {
  font-size: 24px;
}

#main-2 p {
  text-align: center;
  margin-top: 3rem;
}

.hr-seperators {
  border: 2px solid black;
  border-radius: 3px;
}

p-borders {
}

.footer-div {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
}

.footer-div p {
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 800px) {
  #image {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 234px) {
  .h3-style {
    border-style: none;
  }
}
